__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
.ipynb_checkpoints/
.env
.venv/
.env*/
*.env
.DS_Store
.vscode/
assets/figures/*.png
assets/data/*.json
assets/data/*.csv
*.egg-info/
.pytest_cache/
htmlcov/
coverage.xml
